# Control Flow

In `nat20`, control flow is primarily expressed through conditional statements,
loops, and function calls.

#### Conditional Statements

The conditional structure in `nat20` is expressed through `if` statement,
optionally followed by `elif` and `else` clauses. `if` statement also requires
closing keyword `fi`.

```nat
if x > 0 then
	printq(%q(x is positive));
elif x == 0 then
	printq(%q(x is zero));
else
	printq(%q(x is negative));
fi			
```

Another example of control flow is `switch`
